# Игнорирование Python Bytecode файлов
__pycache__/
*.pyc
*.pyo

# Игнорирование виртуальных окружений
venv/
env/

# Игнорирование настроек IDE
.idea/
.vscode/

# Игнорирование отчетов покрытия тестами
htmlcov/
.coverage
.tox/
.nox/

# Игнорирование временных файлов
*.log
